---
# We'll never go out of style
---

// Pretty glow from the bottom of the page
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

body {
    margin: 0px;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

// Make the stars happen
@import 'starry';


h1, h2, h3, h4, h5{
    font-weight: 300;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header{
    // background-color: rgba(255,255,255,0.1);
    padding:.5em;
    text-align: center;


    h1 {
        font-family: 'Share Tech Mono', monospace;
        margin:0px;
        font-size:3em;
    }
    h2{
        font-size:1em;
        margin:0px;
    }

};

article{
    color:white;

};
