body {
    color: rebeccapurple;
    margin: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
}

h2, h3, h4, h5{
    font-weight: 300;
}
