<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Our stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Load Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Share+Tech+Mono" rel="stylesheet">
    <title>{{ page.title }}</title>
</head>
<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <header>
        <h1>Eldila</h1>
        <h2>Innovative solutions to innovative problems</h2>
    </header>
    <article>
        {{ content }}
    </article>
</body>
</html>
